.text-editor {
    position: absolute;
    z-index: 5;
    margin: 0;
    transform-origin: center;
    resize: none;
    border: 1.5px solid var(--focus);
    border-radius: 2px;
    outline: none;
    overflow: hidden;
    box-shadow: var(--shadow);
    white-space: pre-wrap;
    word-break: break-word;
}
.text-editor::placeholder { color: #8a909b; }
